<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>登录</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<section class="login-page section-padding">
    <div class="container">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div class="row">
                <div class="single-check">
                    <form action="login" method="post">
                        <div class="single-input p-bottom50 clearfix">
                            <div class="col-xs-12">
                                <div class="check-title">
                                    <h3>登录</h3>
                                    <h4 th:if="${msg==null}">如果已有账号，请登录!</h4>
                                    <h4 th:if="${msg!=null}" th:text="${msg}" style="color: #761c19"></h4>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label>用户名:</label>
                                <div class="input-text">
                                    <input type="text" name="name" required="required"/>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <label>密码:</label>
                                <div class="input-text">
                                    <input type="password" name="password" required="required"/>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="submit-text">
                                    <input type="submit" name="submit" value="登录">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <a href="register_page">还没账号?去注册</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-logo-text padding-close">
        <div class="container text-center">
            <a href="index"><img src="img/logo2.png" alt="Logo"/></a>
            <p>Wish you happy every day hhh.</p>
        </div>
    </div>
</footer>

</body>
</html>
